* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #31A8DD;
    --light-blue: #33A8DB;
    --dark-blue: #1472B7;
    --white: #FFFFFF;
    --font-family: 'Raleway', sans-serif;
    --title-lg: 40px;
    --tile-md: 32px;
    --subtitle: 20px;
    --title-sm: 16px;
}

body {
    font-family: var(--font-family);
    background-color: black;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(../assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid var(--light-blue);
}

#transform-world {
    background-image: url(../assets/images/woman-code.png);
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid var(--light-blue);
}

#professional-challenges {
    border-bottom: 1px solid var(--light-blue);
}

footer {
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
}